div.header {
	font-size: 30px;
	height: 400px;
	color: white;
}

.header img {
	margin-top: 5%;
	height: 100px;
}

.middle {
	text-align: center;
}

#userPage {
	background: -webkit-linear-gradient(left, rgb(13,5,43), rgb(100,47,80));
    background: -o-linear-gradient(left, rgb(13,5,43), rgb(100,47,80));
    background: -moz-linear-gradient(left, rgb(13,5,43), rgb(100,47,80));
    background: linear-gradient(left, rgb(13,5,43), rgb(100,47,80));
}

#homeworkPage {
	background: -webkit-linear-gradient(left, #0645f5, #02f7f7);
    background: -o-linear-gradient(left, #0645f5, #02f7f7);
    background: -moz-linear-gradient(left, #0645f5, #02f7f7);
    background: linear-gradient(left, #0645f5, #02f7f7);
}

#forumPage {
	background: -webkit-linear-gradient(left, #f7082d, #f1fb0a);
    background: -o-linear-gradient(left, #f7082d, #f1fb0a);
    background: -moz-linear-gradient(left, #f7082d, #f1fb0a);
    background: linear-gradient(left, #f7082d, #f1fb0a);
}