@charset "utf-8";
/* CSS Document */

#main_body,#upload_homework{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	position:absolute;
	left:0px;
	top:0px;
	width:100vw;
	height:100vh;
}

#main_body{
	background-image:url("../images/background.jpg");
}

.homework, #homework_form{
	border:solid;
	border-radius:10px;
	border-width:thin;
}

#title{
	position:absolute;
	top:0px;
	left:0px;
	height:10vh;
	width:100vw;
	font-size:36px;
}

#homework_container{
	position:absolute;
	top:10vh;
	left:0px;
	height:90vh;
	width:100vw;
}

.homework{
	float:left;
	width:22vw;
	height:27vh;
	border-color:#999;
	box-shadow:inset 0 -2px;
	margin:5px;
	padding:3px;
	background-color:#E2E2E2;
}

.homework_title{
	margin:auto;
	padding:auto;
	width:20vw;
	height:5vh;
	font-size:20px;
	text-align:center;
}

.homework_detail{
	margin: auto;
	padding:auto;
	width:18vw;
	height:16vh;
	font-size:16px;
	overflow:hidden;
}

.is_over{
	float:left;
	margin-left:6px;
}

.upload{
	float:right;
	margin-right:6px;
}

.click_able{
	color:#090;
}

li{
	list-style:none;
}

#upload_homework_background{
	width:100vw;
	height:100vh;
	background-color:#333;
	position:absolute;
	left:0px;
	top:0px;
	opacity:0.75;
}

#homework_form{
	width:30vw;
	height:30vh;
	position:absolute;
	left:35vw;
	top:25vh;
	margin: 0;
	padding: 15px;
	background-color:#CCC;
	opacity:1;
}

.form_content{
	margin:10px;
}

label{
	margin-right:10px;
}

select,input{
	width:18vw;
}

.hide_div{
	z-index:-1;
	opacity:0;
}

.prior_div{
	z-index:1;
	opacity:1;
}
