{% block title %}
        <title>新建话题</title>
{% endblock %}

{% block css_js_static %}
{% load staticfiles %}
  <link rel="stylesheet" href="{%  static 'Forum/css/create_topic.css' %}" type="text/css">

   <script charset="utf-8" src="{% static 'kindeditor-4.1.10/kindeditor.js' %}"></script>
  <script charset="utf-8" src="{% static 'kindeditor-4.1.10/lang/zh_CN.js' %}"></script>
  <script>
      KindEditor.ready(function(K) {
          window.editor = K.create('#topic_editor', {
                uploadJson: '{% url 'forum_uploadImg' %}',
                // form data name="imgFiel"
          });

      });
  </script>
{% endblock %}

{% block content %}
  <div id="head-board">
      <span>新建话题</span>
  </div>
  <form action="" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <input type="text" name="title" placeholder="标题">
      <textarea id="topic_editor" name="content"></textarea>
      <input type="submit" value="发布帖子">
  </form>
{% endblock %}
