{% extends "base.html" %}

{% block title %}
<title>论坛首页</title>
{% endblock %}

{% block css_js_static %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'Forum/css/forum_index.css' %}" type="text/css">
{% endblock %}

{% block content %}
  <div id="head-board">
      <span>话题</span>
      <a href="{% url 'forum_create_topic' %}">新建话题</a>
  </div>
  <hr>
  {% for topic in topic_list %}
      <div id="topic">
          <a href="{% url 'forum_topic' topic.id %}"><scan id="title">{{ topic.title }}</scan></a>
          <div id="content">{{ topic.content|safe }}</div>
          <div id="script-containor">
              <scan>{{ topic.release_time|date:"F j, Y" }}</scan>
              <scan>作者：{{ topic.author.real_name }}</scan>
          </div>
      </div>
      <hr>
  {% endfor %}
{% endblock %}
