{% extends "base.html" %}

{% block css_js_static %}
{% load staticfiles %}
  <link rel="stylesheet" href="{% static 'Forum/css/topic_info.css' %}" type="text/css">
  <link rel="stylesheet" href="{%  static 'Forum/css/create_topic.css' %}" type="text/css">

  <script charset="utf-8" src="{% static 'kindeditor-4.1.10/kindeditor.js' %}"></script>
  <script charset="utf-8" src="{% static 'kindeditor-4.1.10/lang/zh_CN.js' %}"></script>
  <script>
      KindEditor.ready(function(K) {
          window.editor = K.create('#topic_editor', {
                uploadJson: '{% url 'forum_uploadImg' %}',
                // form data name="imgFiel"
          });

      });
  </script>
{% endblock %}


{% block content %}
    <div id="head-board">
        <scan>话题</scan>
        <a href="#new-posting">我要跟帖</a>
    </div>
    <hr>
    <div id="floor">
        <div class="left">
            <p><img src="{{ topic.author.avatar.url }}" alt="头像" style="width:50px; height:50px"></p>
            <scan>{{ topic.author.real_name }}</scan>
        </div>
        <div class="right">
            <p class="title">{{ topic.title }}</p>
            <p class="content">{{ topic.content|safe }}</p>
            <p class="script-containor">
                <scan>{{ topic.release_time|date:"F j, Y" }}</scan>
                <scan>作者：{{ topic.author.real_name }}</scan>
            </p>
        </div>
    </div>
    <hr>
    <hr>
    {% for posting in posting_list.all %}
        <div class="left">
            <p><img src="{{ posting.author.avatar.url }}" alt="头像" style="width:50px; height:50px"></p>
            <scan>{{ posting.author.real_name }}</scan>
        </div>
        <div class="right">
            <p class="content">{{ posting.content|safe }}</p>
            <p class="script-containor">
                <scan>点赞：{{ posting.like }}</scan>
                <scan>{{ posting.release_time|date:"F j, Y" }}</scan>
                <scan>作者：{{ posting.author.real_name }}</scan>
            </p>
        </div>
        <hr>
    {% endfor %}

    <form id="new-posting" action="{% url 'forum_create_posting' topic.id %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div id="posting-editor">
            <textarea id="topic_editor" name="content"></textarea>
        </div>
        <input type="submit" value="发布">
    </form>
{% endblock %}
